*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/libs/
config.gradle
nc-basic-biz/libs/
nc-basic-biz/src/main/java/com/example/nc_basic_biz/cache/MediaPlayerAttacher.java
nc-basic-biz/src/main/java/com/example/nc_basic_biz/convert/
nc-basic-biz/src/main/java/com/example/nc_basic_biz/core/IMediaPlayListener.java
nc-basic-biz/src/main/java/com/example/nc_basic_biz/core/MediaerManager.java
nc-basic-biz/src/main/java/com/example/nc_basic_biz/event/
nc-basic-biz/src/main/res/drawable/
nc-basic-ui/src/main/java/com/example/nc_basic_ui/activity/ImageDetailActivity.java
nc-basic-ui/src/main/java/com/example/nc_basic_ui/activity/SongMenuDetailsActivity.java
nc-basic-ui/src/main/java/com/example/nc_basic_ui/activity/VideoPlayerActivity.java
nc-basic-ui/src/main/java/com/example/nc_basic_ui/adapter/ImagePagerAdapter.java
nc-basic-ui/src/main/java/com/example/nc_basic_ui/adapter/SongMenuDetailAdapter.java
nc-basic-ui/src/main/java/com/example/nc_basic_ui/controller/SongMenuDetailsController.java
nc-basic-ui/src/main/java/com/example/nc_basic_ui/event/
nc-basic-ui/src/main/java/com/example/nc_basic_ui/interaction/ISongMenuDetailsView.java
nc-basic-ui/src/main/java/com/example/nc_basic_ui/service/
nc-basic-ui/src/main/java/com/example/nc_basic_ui/view/MenuBehivior.java
nc-basic-ui/src/main/res/drawable-xxhdpi/img_menu_arror.png
nc-basic-ui/src/main/res/drawable-xxhdpi/img_menu_author.jpg
nc-basic-ui/src/main/res/drawable-xxhdpi/img_menu_detail_back.png
nc-basic-ui/src/main/res/drawable-xxhdpi/img_menus_title.jpg
nc-basic-ui/src/main/res/drawable-xxhdpi/img_song_play.png
nc-basic-ui/src/main/res/layout/activity_image_show.xml
nc-basic-ui/src/main/res/layout/adapter_image_detail.xml
nc-basic-ui/src/main/res/layout/adapter_item_menu_detail.xml
nc-cat-biz/libs/
nc-cat-biz/src/main/java/
nc-cat-biz/src/main/res/drawable/
nc-cat-ui/libs/
nc-cat-ui/src/main/java/
nc-cat-ui/src/main/res/drawable/
nc-common-resource/libs/
nc-common-resource/src/main/java/com/example/nc_common_resource/activity/
nc-common-resource/src/main/java/com/example/nc_common_resource/interaction/
nc-common-resource/src/main/java/com/example/nc_common_resource/utils/
nc-common-resource/src/main/java/com/example/nc_common_resource/view/design/AppBarLayoutScrollViewBehavior.java
nc-common-resource/src/main/java/com/example/nc_common_resource/view/photoview/
nc-common-resource/src/main/res/drawable-xxhdpi/img_wb_back.png
nc-common-resource/src/main/res/drawable-xxhdpi/img_webview_loading.png
nc-common-resource/src/main/res/layout/activity_base_webview.xml
nc-super-abs/libs/
nc-super-abs/src/main/java/com/example/nc_super_abs/utils/
uc-common-bean/libs/
uc-common-bean/src/main/java/com/example/uc_common_bean/enums/MediaStatus.java
uc-common-bean/src/main/res/drawable/
